# データベースに関するファイル群を追跡対象外に設定
instance/
migrations/
**/__pycache__/

# logファイルを追跡対象外に設定
logs/

# プライバシーに関わるサーバー設定ファイルを追跡対象外に設定
server_settings/

# fontawesomeを追跡対象外に設定（サイズが大きすぎるため）
static/styles/fontawesome/