/* ABOUT GAME
-------------------------------------------------- */
.about-game {
    line-height: 1.5;
    font-size: .875rem;
    overflow: hidden;
    font-weight: normal;
    text-align: justify;
    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--gray-3);
        letter-spacing: 0.03em;
        font-weight: normal;
        margin-bottom: 0.5rem;
        padding: .3rem 0;
        border-bottom: 1px solid #ddd;
    }
    .bb {
        &_img {
            margin: 1rem 0;
            width: 100%;
        }
        &_tag {
            margin-top: 1.125rem;
            margin-bottom: 0;
            background-image: none;
            font-size: 1.125rem;
            color: var(--gray-3);
            text-transform: none;
            letter-spacing: 0;
        }
        &_paragraph {
            min-height: .15rem;
            line-height: 1.5;
            margin: 0.5rem 0;
        }
        &_ul {
            color: var(--gray-3);
            list-style-type: square;
        }
    }
    .ag_box,.description {
        overflow: hidden;
        height: 30vh;
        transition: all 0.5s;
    }
    .ag-box {
        position: relative;
        input {
            display: none;
            &:checked + label {
                /* 開いたときにグラデーションを消す */
                background: inherit;
                &::after {
                    content: '閉じる';
                }
                &::before {
                    left: calc(50% - 2.5em);
                    transform: scale(1,-1);
                }
            }
            &:checked ~ .description {
                height: auto;
                padding-bottom: 80px;
                transition: all 0.5s;
            }
        }
        label {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            bottom: -10px;
            width: 100%;
            height: 140px; /* グラデーションの高さ */
            cursor: pointer;
            text-align: center;
            background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
            &::after,&::before {
                content: '';
                position: absolute;
                line-height: 2.5rem;
            }
            &::after {
                z-index: 2;
                bottom: 20px;
                width: 13em;
                content: '続きをよむ';
                color: var(--white);
                background: var(--gray-3);
                border-radius: 20px;
            }
            &::before {
                position: absolute;
                bottom: 38px;
                left: calc(50% - 3.5em);
                z-index: 3;
                width: 10px;
                height: 5px;
                background: var(--white);
                clip-path: polygon(50% 100%, 0 0, 100% 0);
            }
        }
    }
    .description {
        color: var(--gray-3);
        line-height: 1.6;
    }
}
/* DESKTOP */
@media screen and (min-width: 600px) {
    .bb_ul {
        margin-left: 16px;
    }
}