/* ASIDE
--------------------------------------------------- */
aside {
    margin-bottom: 1rem;

    .head-img {
        margin-bottom: .5rem;
    }

    .short-desc p {
        text-align: justify;
        font-size: .875rem;
    }
    .vp-cnt-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: .25rem;
    }
}