/* FORM
-------------------------------------------------- */
.search-form {
    display: flex;
    font-family: 'Motiva-sans', sans-serif;
    background-color: var(--white);
    span,#title {
        border-top: 1.5px solid var(--gray-c);
        border-bottom: 1.5px solid var(--gray-c);
        border-radius: 0;
    }
    span {
        border-right: 1.5px solid var(--gray-c);
        margin-left: -1.5px;
        padding-right: 0.5rem;
    }
    #title {
        padding: .5rem;
        font-size: 1rem;
        width: 100%;
        border-left: 1.5px solid var(--gray-c);
        &::placeholder {
            color: var(--gray-c);
            font-size: .875rem;
        }
    }
    .name-search-btn {
        background: var(--white);
        height: 100%;
        width: 50px;
        font-size: 1.5rem;
        line-height: 1;
        color: var(--gray-7);
        text-align: center;
        :hover {
            color: var(--gray-3);
        }
    }
    input[type='submit'] {
        background: var(--gray-e);
        color: var(--gray-3);
        cursor: pointer;
        padding: .75rem 1.5rem .75rem 1rem;
        margin-left: -1px;
        transition: 0s;
        &:active {
            background: var(--gray-5);
        }
    }    
}
.label-area, .viewpoint-area {
    margin-top: 1rem;
}
.label-area {
    display: flex;
    gap: 1rem;
    .select-box {
        position: relative;
        border: 1px solid var(--gray-b);
        background: var(--white);
        padding: .5rem;
        width: 100%;
        select {
            width: 100%;
            height: 100%;
            cursor: pointer;
            &:focus-visible {
                outline: none;
            }
        }
        &::after {
            display: inline-block;
            position: absolute;
            top: .625rem;
            right: 1rem;
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            content: '\f078';
            color: var(--gray-b);
        }
    }
}
.checkbox-group {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;
    margin-bottom: 1rem;
    width: 100%;
    white-space: nowrap;
    min-width: 0;
}
.details {
    flex: 0 0 auto; // 幅固定で折り返さない
    min-width: 220px; // 必要に応じて調整
    margin-right: .5rem;
    &.layer1 {
        width: 45%;
    }
    &.SENSE {
        border: 2px solid var(--SENSE-border);
    }
    &.FEEL {
        border: 2px solid var(--FFEL-border);
    }
    &.THINK {
        border: 2px solid var(--THINK-border);
    }
    &.ACT {
        border: 2px solid var(--ACT-border);
    }
    &.RELATE {
        border: 2px solid var(--RELATE-border);
    }
    &-summary {
        position: relative;
        display: block;
        color: var(--white);
        font-weight: bold;
        text-align: center;
        &.layer1 {
            font-size: 1rem;
            padding: .5rem;
        }
        &.SENSE {
            background: var(--SENSE-color);
        }
        &.FEEL {
            background: var(--FEEL-color);
        }
        &.THINK {
            background: var(--THINK-color);
        }
        &.ACT {
            background: var(--ACT-color);
        }
        &.RELATE {
            background: var(--RELATE-color);
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        &.is-active {
            .acc-btn {
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
                &:before {
                    content: none;
                }	
            }
        }
        &::-webkit-details-marker {
            display: none;
        }
    }
    .checkbox-area {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        padding: 1rem;
        outline: 1px solid var(--gray-c);
        background: #f8f6f2;
        height: 20vh;
        label {
            display: inline-block;
            margin-right: 1.5rem;
            margin-bottom: 1rem;
            span {
                font-size: .75rem;
            }
            cursor: pointer;
            /* デフォルトのチェックボックスを非表示 */
            input[type="checkbox"] {
                opacity: 0;
                -webkit-appearance: none;
                appearance: none;
                position: absolute;
                /* チェックボックス用の四角形を作る */
                &+span::before {
                    display: inline-block;
                    content: '';
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 1px solid var(--gray-b);
                    background: var(--white);
                    margin: -.125rem .5rem 0 0;
                    vertical-align: middle;
                    font-family: 'Font Awesome 6 Free';
                    font-weight: 900;
                    padding: 2px 2px 2px 5px;
                    line-height: 1.2;
                }
                /* チェックが入るとチェックアイコンを表示 */
                &:checked+span::before {
                    content: '\f00c';
                }
            }
        }   
    }
}
.viewpoint-area {
    position: sticky;
    top: 4rem;
    &-choosed {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background: #f8f6f2;
        padding-top: 1rem;
        border: 1px solid var(--gray-c);
        border-radius: 8px;
        margin-bottom: 1rem;
        height: 20vh;
        overflow-y: scroll;
        li {    
            color: var(--gray-3);
            font-size: 1rem;
            list-style: disc;
            margin-right: 2rem;
            margin-bottom: 0.5rem;
        }
    }
    input[type='submit'] {
        display: inline-block;
        padding: .5rem 1rem;
        background: var(--gray-e);
        color: var(--gray-3);
        cursor: pointer;
        border: 1px solid var(--gray-c);
        border-radius: 4px;
        box-shadow: 0 5px var(--gray-b);
        position: relative;
        top: -4px;
        transition: 0s;
        &:hover {
            background: var(--gray-d);
        }
        &:active {
            top: 0;
            box-shadow: 0 2px var(--gray-b);
        }
    }
}
.form-control:focus {
    box-shadow: none;
}
@media screen and (min-width: 768px) {
    .search-form {
        #title {
            padding: .8rem 1rem;
            font-size: 1.125rem;
            &::placeholder {
                font-size: .875rem;
            }
        }
        input[type='submit'] {
            font-size: 1.125rem;
        }
        span,#title {
            border-top: 2px solid var(--gray-c);
            border-bottom: 2px solid var(--gray-c);
        }
        span {
            border-right: 2px solid var(--gray-c);
            margin-left: -2px;
        }
        #title {
            border-left: 2px solid var(--gray-c);
        }
    }
    .label-area {
        justify-content: end;
        .select-box {
            width: 40vw;
        }
    }
    .details {
        &-summary {
            &.layer1 {
                font-size: 1.125rem;
                padding: .75rem;
            }
        }
        .checkbox-area {
            height: 30vh;
            label span {
                font-size: 1rem;
            }
        }   
    }
    .viewpoint-area-choosed {
        height: 30vh;
    }
}