/* FORM
-------------------------------------------------- */
.search-form {
    display: flex;
    font-family: 'Motiva-sans', sans-serif;
    background-color: var(--white);
    span,#title {
        border-top: 1.5px solid var(--gray-c);
        border-bottom: 1.5px solid var(--gray-c);
        border-radius: 0;
    }
    span {
        border-right: 1.5px solid var(--gray-c);
        margin-left: -1.5px;
        padding-right: 0.5rem;
    }
    #title {
        padding: .5rem;
        font-size: 1rem;
        width: 100%;
        border-left: 1.5px solid var(--gray-c);
        &::placeholder {
            color: var(--gray-c);
            font-size: .875rem;
        }
    }
    .name-search-btn {
        background: var(--white);
        height: 100%;
        width: 50px;
        font-size: 1.5rem;
        line-height: 1;
        color: var(--gray-7);
        text-align: center;
        :hover {
            color: var(--gray-3);
        }
    }
    input[type='submit'] {
        background: var(--gray-e);
        color: var(--gray-3);
        cursor: pointer;
        padding: .75rem 1.5rem .75rem 1rem;
        margin-left: -1px;
        transition: 0s;
        &:active {
            background: var(--gray-5);
        }
    }    
}
.label-area, .viewpoint-area {
    margin-top: 1rem;
}
.label-area {
    display: flex;
    gap: 1rem;
    .select-box {
        position: relative;
        border: 1px solid #bbb;
        background: #fff;
        padding: .5rem;
        width: 100%;
        select {
            width: 100%;
            height: 100%;
            cursor: pointer;
            &:focus-visible {
                outline: none;
            }
        }
        &::after {
            display: inline-block;
            position: absolute;
            top: .625rem;
            right: 1rem;
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            content: '\f078';
            color: var(--gray-b);
        }
    }
}
.details {
    &.layer1 {
        border-top: 2px solid #00a5a0;
        border-left: 2px solid #00a5a0;
        border-right: 2px solid #00a5a0;
        &:last-of-type {
            border-bottom: 2px solid #00a5a0;
        }
    }
    &-summary {
        position: relative;
        display: block;
        color: #fff;
        font-weight: bold;
        text-align: center;
        &.layer1 {
            background-color: #b2e4e2;
            font-size: 1.25rem;
            padding: .875rem;
            .acc-btn {
                top: 37%;
            }
        }
        // 最後のlayer2以外は上下にボーダーをつける
        &.layer2 {
            background-color: #7fd2cf;
            font-size: .875rem;
            padding: .5rem;
            border-top: 2px solid #00a5a0;
            border-bottom: 2px solid #00a5a0;
            &:last-of-type {
                border-bottom: none;
            }
            .acc-btn {
                top: 26%;
            }
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        .acc-btn {
            position: absolute;
            //top: 37%;
            left: 10%;
            width: 1.125rem;
            height: 1.125rem;
            transform-origin: center center;
            transition: .2s;
            transition-duration: .2s;
            &:before,
            &:after {
                content: "";
                background-color: #fff;
                border-radius: 10px;
                width: 1.125rem;
                height: .25rem;
                position: absolute;
                top: 7px;
                left: 0;
                transform-origin: center center;
            }
            &:before {
                width: .25rem;
                height: 1.125rem;
                top: 0;
                left: 7px;
            }
        }
        &.is-active {
            .acc-btn {
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
                &:before {
                    content: none;
                }	
            }
        }
        &::-webkit-details-marker {
            display: none;
        }
    }
    .checkbox-area {
        overflow-y: scroll;
        margin: 1rem 0;
        padding: 1rem;
        outline: 1px solid var(--gray-c);
        background: #f8f6f2;
        height: 20vh;
        label {
            display: inline-block;
            margin-right: 1.5rem;
            margin-bottom: 1rem;
            cursor: pointer;
            /* デフォルトのチェックボックスを非表示 */
            input[type="checkbox"] {
                opacity: 0;
                -webkit-appearance: none;
                appearance: none;
                position: absolute;
                /* チェックボックス用の四角形を作る */
                &+span::before {
                    display: inline-block;
                    content: '';
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 1px solid #bbb;
                    background: #fff;
                    margin: -.125rem .5rem 0 0;
                    vertical-align: middle;
                    font-family: 'Font Awesome 6 Free';
                    font-weight: 900;
                    padding: 2px 2px 2px 5px;
                    line-height: 1.2;
                }
                /* チェックが入るとチェックアイコンを表示 */
                &:checked+span::before {
                    content: '\f00c';
                }
            }
        }   
    }
}
.viewpoint-area {
    position: sticky;
    top: 4rem;
    &-choosed {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background: #f8f6f2;
        padding-top: 1rem;
        border: 1px solid var(--gray-c);
        border-radius: 8px;
        margin-bottom: 1rem;
        height: 20vh;
        overflow-y: scroll;
        li {    
            color: var(--gray-3);
            font-size: 1rem;
            list-style: disc;
            margin-right: 2rem;
            margin-bottom: 0.5rem;
        }
    }
    input[type='submit'] {
        display: inline-block;
        padding: .5rem 1rem;
        background: var(--gray-e);
        color: var(--gray-3);
        cursor: pointer;
        border: 1px solid var(--gray-c);
        border-radius: 4px;
        box-shadow: 0 5px var(--gray-b);
        position: relative;
        top: -4px;
        transition: 0s;
        &:hover {
            background: var(--gray-5);
        }
        &:active {
            top: 0;
            box-shadow: 0 2px var(--gray-b);
        }
    }
}
.form-control:focus {
    box-shadow: none;
}
@media screen and (min-width: 768px) {
    .search-form {
        #title {
            padding: .8rem 1rem;
            font-size: 1.125rem;
            &::placeholder {
                font-size: .875rem;
            }
        }
        input[type='submit'] {
            font-size: 1.125rem;
        }
        span,#title {
            border-top: 2px solid var(--gray-c);
            border-bottom: 2px solid var(--gray-c);
        }
        span {
            border-right: 2px solid var(--gray-c);
            margin-left: -2px;
        }
        #title {
            border-left: 2px solid var(--gray-c);
        }
    }
    .label-area {
        justify-content: end;
        .select-box {
            width: 40vw;
        }
    }
    .details {
        &-summary {
            &.layer1 {
                font-size: 1.5rem;
                padding: 1rem;
            }
            &.layer2 {
                font-size: 1.125rem;
            }
        }
        .checkbox-area {
            height: 30vh;
        }   
    }
    .viewpoint-area-choosed {
        height: 30vh;
    }
}