/* HELP */
.help-title {
    padding: 5rem 0 1rem;
}
.help-nav {
    position: sticky;
    top: 5rem;
    background-color: var(--gray-e);
    padding: .5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px silver;
    ul {
        list-style: circle;
    }
    li {
        line-height: 1.6;
        width: fit-content;
        &:hover {
            opacity: 0.7;
        }
        a {
            color: var(--black);
            text-decoration: none;
        }
    }
}
.help-main {
    h3 {
        padding: 0.375rem 0.5rem;
        border-left: solid 5px var(--media-player);
        border-bottom: solid 3px var(--gray-e);
    }
    h4 {
        padding: 0.375rem 0.25rem;
        color: var(--gray-3);
        border-bottom: solid 1px var(--gray-e);
    }
    p {
        text-align: justify;
    }
    figure {
        inline-size: fit-content;
        max-inline-size: 100%;
        margin-inline: auto;
        img {
            margin: 1rem 0;
            box-shadow: 0px 0px 5px silver;
        }
        figcaption {
            font-size: 0.875rem;
            inline-size: 0;
            min-inline-size: fit-content;
        }
    }
}