/* SEARCH INDEX
--------------------------------------------------- */
.index-panel {
    margin-top: .875rem;
    margin-bottom: .875rem;
    padding-left: 0;
    list-style: none;
    &-item {
        display: inline-block;
        width: 100%;
        padding: 0.5rem 1rem 1.5rem;
        border: 2px solid var(--gray-e);
        box-shadow: 0 5px var(--gray-e);
        position: relative;
        top: -4px;
        border-radius: 8px;
        text-decoration: none;
        margin-block: .375rem;
        transition: 0s;
        &:hover {
            background: var(--gray-e);
            border-color: var(--gray-c);
        }
        &:active {
            top: 0;
            box-shadow: 0 2px var(--gray-e);
        }
        .game-header {
            margin-bottom: .5rem;
        }
        .text-area {
            width: 100%;
            position: relative;
            &-name {
                font-size: 1rem;
                color: var(--gray-3);
            }
            &-desc {
                color: var(--gray-b);
                font-size: .75rem;
            }
            &-name,&-desc {
                margin-bottom: .125rem;
            }
            .matched-viewpoints {
                position: absolute;
                bottom: -1.375rem;
                display: flex;
                span {
                    font-size: .5rem;
                    color: var(--gray-4);
                    padding-top: .125rem;
                    margin-right: .125rem;
                }
                &-area {
                    display: flex;
                    gap: .25rem;
                    padding-left: 0;
                    li {
                        color: var(--gray-5);
                        border-radius: 8px;
                        font-size: .5rem;
                        padding: .125rem .25rem;
                    }
                    .viewpoint-SENSE {
                        background-color: var(--SENSE-color);
                    }
                    .viewpoint-FEEL {
                        background-color: var(--FEEL-color);
                    }
                    .viewpoint-THINK {
                        background-color: var(--THINK-color);
                    }
                    .viewpoint-ACT {
                        background-color: var(--ACT-color);
                    }
                    .viewpoint-RELATE {
                        background-color: var(--RELATE-color);
                    }
                }
            }
        }
    }
}
.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    a {
        display: inline-block;
        padding: .5rem .7rem;
        background-color: #eee;
        text-decoration: none;
        color: black;
        &:hover,
        &:focus {
            background-color: #ddd;
        }
    }
}
.pagination__prev {
    &::before {
        content: '<';
    }
}
.pagination__next {
    &::before {
        content: '>';
    }
}
.pagination__items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    counter-reset: pagination;
    margin: 0 1px;
    li {
        position: absolute;
        top: -100vh;
        counter-increment: pagination;
        margin: 0 1px;
        &:first-child,
        &:last-child {
            position: static;
        }
        &.is-active {
            position: static;
            &:not(:nth-child(1)):not(:nth-child(2)) {
                &::before {
                    content: '...';
                    display: inline-block;
                    padding: .5rem .7rem;
                    background-color: #eee;
                    margin-right: 2px;
                }
            }
            & + li,
            & + li + li {
                position: static;
            }
            & + li + li:not(:last-child):not(:nth-last-child(2)) {
                &::after {
                    content: '...';
                    display: inline-block;
                    padding: .5rem .7rem;
                    background-color: #eee;
                    margin-left: 2px;
                }
            }
        }
    }
    a {
        &::before {
            content: counter(pagination);
        }
    }
    .is-active a {
        background-color: black;
        color: white;
    }
}
/* DESKTOP */
@media screen and (min-width: 768px) {
    .index-panel {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        &-item {
            display: flex;
            justify-content: flex-start;
            padding: 0.5rem 1rem;
            .game-header {
                width: 30%;
                height: 30%;
                margin: auto 0;
            }
            .text-area {
                width: 70%;
                margin-left: .5rem;
                &-name {
                    font-size: 1.5rem;
                }
                &-desc {
                    font-size: .875rem;
                }
                &-name,&-desc {
                    margin-bottom: .5rem;
                }
                .matched-viewpoints {
                    bottom: .125rem;
                    span {
                        font-size: .675rem;
                        padding-top: .25rem;
                        margin-right: .25rem;
                    }
                    &-area {
                        li {
                            font-size: .675rem;
                            padding: .25rem .375rem;
                        }
                    }
                }
            }
        }
    }
}
