{% extends 'base.html' %}
{% block search_form %}
    <form action="{{url_for('game.search')}}" method="POST" novalidate>
        {{form.hidden_tag()}}
        <div class="search-form">
            <!-- テキストボックスと検索ボタンは横並び -->
            {{form.title(class="form-control", placeholder="タイトルを入力（例：FINAL FANTASY）")|safe}}
            {{form.submit(class="btn", value="検索")}}
        </div>
    </form>
{% endblock %}
{% block content %}
<h2 class="game-title">ゲーム検索</h2>
<div class="wrapper">
    <aside>
        {% if form.title.errors %}
        <ul class="text-danger">
            {% for error in form.title.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <section>
            
        </section>
    </aside>
    <main>
        <form action="{{url_for('game.search')}}" method="POST" novalidate>
            {{form.hidden_tag()}}
            {% from 'components/checkbox_form.html' import render_checkbox_form %}
            {{render_checkbox_form(form, form.asp_sense, "SENSE")}}
            {{render_checkbox_form(form, form.asp_feel, "FEEL")}}
            {{render_checkbox_form(form, form.asp_think, "THINK")}}
            {{render_checkbox_form(form, form.asp_act, "ACT")}}
            {{render_checkbox_form(form, form.asp_relate, "RELATE")}}
        </form>
    </main>
</div>
{% endblock %}