{% extends 'game_base.html' %}
{% block search_form %}
    <form action="{{url_for('game.search')}}" method="POST" novalidate>
        {{form.hidden_tag()}}
        <div class="search-form">
            <!-- テキストボックスと検索ボタンは横並び -->
            {{form.title(class="form-control", placeholder="タイトルを入力（例：FINAL FANTASY）")|safe}}
        <!--{{form.submit(class="btn", value="検索")}}-->
            <span>
                <button class="name-search-btn" type="submit" aria-label="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </form>
{% endblock %}
{% block content %}
<h2 class="game-title">ゲーム検索</h2>
<form class="wrapper" action="{{url_for('game.search')}}" method="POST" novalidate>
    <aside>
        <div class="aspect-area">  
            <h3>選択した観点</h3>
            <ul class="aspect-area-choosed"></ul>
            {{form.submit(class="btn", value="観点で検索")}}
        </div>
        {% if form.title.errors %}
        <ul class="text-danger">
            {% for error in form.title.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </aside>
    <main>
        {{form.hidden_tag()}}
        {% from 'components/checkbox_form.html' import render_checkbox_form %}
        {{render_checkbox_form(form, form.asp_sense, "SENSE")}}
        {{render_checkbox_form(form, form.asp_feel, "FEEL")}}
        {{render_checkbox_form(form, form.asp_think, "THINK")}}
        {{render_checkbox_form(form, form.asp_act, "ACT")}}
        {{render_checkbox_form(form, form.asp_relate, "RELATE")}}
    </main>
</form>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='scripts/aspect-area.js')}}"></script>
{% endblock %}
