{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">メモを編集</h1>
    {% from '_formhelpers.html' import render_field %}
    <form action="{{url_for('memo.update', memo_id=edit_id)}}" method="POST" novalidate>
        {{form.hidden_tag()}}
        <div class="mb-3">
            {{render_field(form.title, class="form-control")}}
        </div>
        <div class="mb-3">
            {{render_field(form.content, rows=5, class="form-control")}}
        </div>
        <div class="mb-3">
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
    <a href="{{url_for('memo.index')}}" class="btn btn-secondary mt-2">戻る</a>
{% endblock %}