/* BASE
--------------------------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Motiva Sans", sans-serif;
    background-color: var(--white);
    color: var(--gray-3);
    width: 100%;
}