/* COMMON
--------------------------------------------------- */
p {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--gray-3);

}
img,
video {
    width: 100%;
}
h1,
h2,
h3,
h4 {
    color: var(--gray-3);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.125rem;
    margin-bottom: .25rem;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: .875rem;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    .game-title {
        font-family: "Motiva Sans", sans-serif;
        padding-top: 5rem;
    }
    section {
        margin-bottom: 1rem;
    }
}
/* FOOTER */
.page-footer {
    width: 100%;
    .copyright {
        background-color: #432;
        text-align: center;
        padding: 2rem 0;
        margin-top: 3rem;
        color: var(--white);
    }
}
/* MATCHED VIEWPOINTS */

.matched-vp-area {
    .vp-label {
        font-size: .5rem;
        color: var(--gray-4);
        padding-top: .125rem;
        margin-right: .125rem;
    }
    .ul-vp {
        gap: .25rem;
        padding-left: 0;
        li {
            color: var(--gray-5);
            border-radius: 8px;
            font-size: .5rem;
            padding: .125rem .25rem;
        }
        .li-vp-SENSE {
            background-color: var(--SENSE-color);
        }
        .li-vp-FEEL {
            background-color: var(--FEEL-color);
        }
        .li-vp-THINK {
            background-color: var(--THINK-color);
        }
        .li-vp-ACT {
            background-color: var(--ACT-color);
        }
        .li-vp-RELATE {
            background-color: var(--RELATE-color);
        }
    }
}
/* DESKTOP */
@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        main {
            width: 70%;
            order: 1;
        }
        aside {
            width: 28%;
            order: 2;
        }
    }
    .matched-vp-area {
        bottom: .125rem;
        .vp-label {
            font-size: .675rem;
            padding-top: .25rem;
            margin-right: .25rem;
        }
        .ul-vp {
            li {
                font-size: .675rem;
                padding: .25rem .375rem;
            }
        }
    }
}