/* COMMON
--------------------------------------------------- */
p {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--gray-3);
}
img,video {
    width: 100%;
}
h1,h2,h3 {
    color: var(--gray-3);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.125rem;
    margin-bottom: .25rem;
}
h3 {
    font-size: 1rem;
}
.container {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    .game-title {
        font-family: "Motiva Sans", sans-serif;
        padding-top: 5rem;
    }
    section {
        margin-bottom: 1rem;
    }
}
/* FOOTER */
.page-footer {
    width: 100%;
    .copyright {
        background-color: #432;
        text-align: center;
        padding: 2rem 0;
        margin-top: 3rem;
        color: var(--white);
    }
}
/* DESKTOP */
@media screen and (min-width: 768px) {
    h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        main {
            width: 62%;
            order: 1;
        }
        aside {
            width: 35%;
            order: 2;
        }
    }
}