/* COLORS
-------------------------------------------------- */
:root {
    --black: #000;
    --gray-3: #333;
    --gray-b: #bbb;
    --gray-c: #ccc;
    --gray-d: #ddd;
    --gray-e: #eee;
    --white: #fff;
    --max-width: 1100px;
}