/* COLORS
-------------------------------------------------- */
:root {
    --black: #000;
    --gray-3: #333;
    --gray-4: #444;
    --gray-5: #555;
    --gray-6: #666;
    --gray-7: #777;
    --gray-b: #bbb;
    --gray-c: #ccc;
    --gray-d: #ddd;
    --gray-e: #eee;
    --white: #fff;
    --media-player: #00a5a0;
    --SENSE-border: #9057FF;
    --SENSE-color: #DCC2FF;
    --FEEL-border: #4689FF;
    --FEEL-color: #BAD3FF;
    --THINK-border: #00a5a0;
    --THINK-color: #b2e4e2;
    --ACT-border: #FF367F;
    --ACT-color: #FF97C2;
    --RELATE-border: #FF9900;
    --RELATE-color: #FFCC99;
    --max-width: 1200px;
}