/* COLORS
-------------------------------------------------- */
:root {
    --black: #000;
    --gray-3: #333;
    --gray-4: #444;
    --gray-5: #555;
    --gray-7: #777;
    --gray-b: #bbb;
    --gray-c: #ccc;
    --gray-d: #ddd;
    --gray-e: #eee;
    --white: #fff;
    --max-width: 1120px;
}