@charset "UTF-8";
/* COLORS
-------------------------------------------------- */
:root {
  --black: #000;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-b: #bbb;
  --gray-c: #ccc;
  --gray-d: #ddd;
  --gray-e: #eee;
  --white: #fff;
  --max-width: 1120px;
}

/* BASE
--------------------------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  background-color: var(--white);
  color: var(--gray);
}

/* COMMON
--------------------------------------------------- */
p {
  line-height: 1.6;
  font-size: 1rem;
  color: var(--gray-3);
}

img, video {
  width: 100%;
}

h1, h2, h3 {
  color: var(--gray-3);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1rem;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.container .game-title {
  font-family: "Motiva Sans", sans-serif;
  padding-top: 5rem;
}
.container section {
  margin-bottom: 1rem;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .wrapper main {
    width: 62%;
    order: 1;
  }
  .wrapper aside {
    width: 36%;
    order: 2;
  }
}
/* HEADER
-------------------------------------------------- */
header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: var(--gray-3);
  position: fixed;
  width: 100%;
  z-index: 4;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header a {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 1;
  padding: 1rem;
}
header a:hover {
  transition: 0.3s;
  color: #1665cc;
}

.btn-menu {
  position: absolute;
  top: 8px;
  right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--white);
  padding: 0.5rem 1rem;
}
.btn-menu:active {
  background: var(--white);
  color: var(--gray-c);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-nav {
  background: var(--gray-3);
  width: 0;
  position: absolute;
  z-index: 5;
  top: 50px;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
  padding-left: 0;
  margin-bottom: 0;
}
.main-nav li {
  text-align: center;
  margin: 2rem 0;
}
.main-nav a {
  display: block;
}
.main-nav.open-menu {
  width: 100%;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
  .main-nav {
    display: flex;
    position: static;
    width: 100%;
    margin-bottom: 0;
  }
  .main-nav li {
    margin: 0 0 0 1.5rem;
  }
}
/* FORM
-------------------------------------------------- */
.search-form {
  display: flex;
  font-family: "Motiva-sans", sans-serif;
}
.search-form input[type=text] {
  background: var(--white);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
.search-form input[type=submit] {
  background: var(--gray-e);
  color: var(--gray-3);
  cursor: pointer;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  margin-left: -1px;
  transition: 0s;
}
.search-form input[type=submit]:active {
  background: var(--gray-5);
}
.search-form input[type=submit], .search-form input[type=text] {
  border: 1.5px solid var(--gray-c);
}
.search-form input[type=submit]::-moz-placeholder, .search-form input[type=text]::-moz-placeholder {
  color: var(--gray-c);
  font-size: 0.875rem;
}
.search-form input[type=submit]::placeholder, .search-form input[type=text]::placeholder {
  color: var(--gray-c);
  font-size: 0.875rem;
}
.search-form input[type=text], .search-form input[type=submit] {
  border-radius: 0;
}

.label-area {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.label-area .select-box {
  position: relative;
  border: 1px solid #bbb;
  background: #fff;
  padding: 0.5rem;
  width: 100%;
}
.label-area .select-box select {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.label-area .select-box select:focus-visible {
  outline: none;
}
.label-area .select-box::after {
  display: inline-block;
  position: absolute;
  top: 0.625rem;
  right: 1rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  color: var(--gray-b);
}

.checkbox-area {
  overflow-y: scroll;
  margin: 1rem 0;
  padding: 1rem;
  outline: 1px solid var(--gray-c);
  background: #f8f6f2;
  height: 20vh;
}
.checkbox-area label {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  /* デフォルトのチェックボックスを非表示 */
}
.checkbox-area label input[type=checkbox] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  /* チェックボックス用の四角形を作る */
  /* チェックが入るとチェックアイコンを表示 */
}
.checkbox-area label input[type=checkbox] + span::before {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #bbb;
  background: #fff;
  margin: -0.125rem 0.5rem 0 0;
  vertical-align: middle;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 2px 2px 2px 5px;
  line-height: 1.2;
}
.checkbox-area label input[type=checkbox]:checked + span::before {
  content: "\f00c";
}

.aspect-area {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}
.aspect-area-choosed {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #f8f6f2;
  padding-top: 1rem;
  border: 1px solid var(--gray-c);
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 20vh;
  overflow-y: scroll;
}
.aspect-area-choosed li {
  color: var(--gray-3);
  font-size: 1rem;
  list-style: disc;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
.aspect-area input[type=submit] {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--gray-e);
  color: var(--gray-3);
  cursor: pointer;
  border: 1px solid var(--gray-c);
  border-radius: 4px;
  box-shadow: 0 5px var(--gray-b);
  position: relative;
  top: -4px;
  transition: 0s;
}
.aspect-area input[type=submit]:hover {
  background: var(--gray-5);
}
.aspect-area input[type=submit]:active {
  top: 0;
  box-shadow: 0 2px var(--gray-b);
}

.form-control:focus {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .search-form input[type=text] {
    padding: 0.8rem 1rem;
    font-size: 1.125rem;
  }
  .search-form input[type=text]::-moz-placeholder {
    font-size: 0.875rem;
  }
  .search-form input[type=text]::placeholder {
    font-size: 0.875rem;
  }
  .search-form input[type=submit] {
    font-size: 1.125rem;
  }
  .search-form input[type=submit], .search-form input[type=text] {
    border: 2px solid var(--gray-c);
  }
  .label-area {
    justify-content: end;
  }
  .label-area .select-box {
    width: 40vw;
  }
  .checkbox-area {
    height: 30vh;
  }
  .aspect-area-choosed {
    height: 30vh;
  }
}
/* SEARCH INDEX
--------------------------------------------------- */
.index-panel {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
  padding-left: 0;
  list-style: none;
}
.index-panel-item {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid var(--gray-e);
  box-shadow: 0 5px var(--gray-e);
  position: relative;
  top: -4px;
  border-radius: 8px;
  text-decoration: none;
  margin-block: 0.375rem;
  transition: 0s;
}
.index-panel-item:hover {
  background: var(--gray-e);
  border-color: var(--gray-c);
}
.index-panel-item:active {
  top: 0;
  box-shadow: 0 2px var(--gray-e);
}
.index-panel-item .game-header {
  margin-bottom: 0.5rem;
}
.index-panel-item .text-area {
  width: 100%;
}
.index-panel-item .text-area-name {
  font-size: 1rem;
  color: var(--gray-3);
}
.index-panel-item .text-area-desc {
  color: var(--gray-b);
  font-size: 0.75rem;
}
.index-panel-item .text-area-name, .index-panel-item .text-area-desc {
  margin-bottom: 0.125rem;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .index-panel {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .index-panel-item {
    display: flex;
    justify-content: flex-start;
  }
  .index-panel-item .game-header {
    width: 30%;
    height: 30%;
    margin: auto 0;
  }
  .index-panel-item .text-area {
    width: 70%;
    margin-left: 0.5rem;
  }
  .index-panel-item .text-area-name {
    font-size: 1.5rem;
  }
  .index-panel-item .text-area-desc {
    font-size: 0.875rem;
  }
  .index-panel-item .text-area-name, .index-panel-item .text-area-desc {
    margin-bottom: 0.5rem;
  }
}
/* MEDIA PANEL
--------------------------------------------------- */
.media-main {
  margin-bottom: 0.5rem;
  background-color: var(--black);
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.media-main img, .media-main video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: var(--black);
}
.media-main .hidden {
  display: none;
}
.media-sub {
  background-color: var(--white);
  padding: 0 0 20px 0;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.media-sub::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.media-sub .slide-area {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  padding: 3px;
}
.media-sub .slide-area .slide {
  width: 116px;
  height: 65px;
  background-color: var(--black);
  cursor: pointer;
}
.media-sub .slide-area .slide .thumb {
  vertical-align: top;
}
.media-sub .slide-area .slide.current {
  outline: 3px solid #00BFFF;
  outline-offset: 1px;
}
.media-sub .slide-area .movie {
  position: relative;
  display: block;
  text-decoration: none;
}
.media-sub .slide-area .movie:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 6px solid var(--white);
  width: 45px;
  height: 45px;
}
.media-sub .slide-area .movie:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-style: solid;
  border-color: transparent transparent transparent var(--white);
  border-width: 12px 0 12px 18px;
}
.media-main img, .media-sub img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.simplebar-scrollbar::before {
  background: var(--white);
  border-radius: 2px;
  height: 10px !important;
  margin-left: 2px;
  margin-right: 3px;
}
.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
.simplebar-hover {
  background: #4682b4;
}
.simplebar-track {
  background: #cbd2e0;
  height: 15px !important;
}

/* ABOUT GAME
-------------------------------------------------- */
.about-game {
  line-height: 1.5;
  font-size: 0.875rem;
  overflow: hidden;
  font-weight: normal;
  text-align: justify;
}
.about-game h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--gray-3);
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid #ddd;
}
.about-game .bb_img {
  margin: 1rem 0;
  width: 100%;
}
.about-game .bb_tag {
  margin-top: 1.125rem;
  margin-bottom: 0;
  background-image: none;
  font-size: 1.125rem;
  color: var(--gray-3);
  text-transform: none;
  letter-spacing: 0;
}
.about-game .bb_paragraph {
  min-height: 0.15rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
.about-game .bb_ul {
  color: var(--gray-3);
  list-style-type: square;
}
.about-game .ag_box, .about-game .description {
  overflow: hidden;
  height: 30vh;
  transition: all 0.5s;
}
.about-game .ag-box {
  position: relative;
}
.about-game .ag-box input {
  display: none;
}
.about-game .ag-box input:checked + label {
  /* 開いたときにグラデーションを消す */
  background: inherit;
}
.about-game .ag-box input:checked + label::after {
  content: "閉じる";
}
.about-game .ag-box input:checked + label::before {
  left: calc(50% - 2.5em);
  transform: scale(1, -1);
}
.about-game .ag-box input:checked ~ .description {
  height: auto;
  padding-bottom: 80px;
  transition: all 0.5s;
}
.about-game .ag-box label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  bottom: -10px;
  width: 100%;
  height: 140px; /* グラデーションの高さ */
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}
.about-game .ag-box label::after, .about-game .ag-box label::before {
  content: "";
  position: absolute;
  line-height: 2.5rem;
}
.about-game .ag-box label::after {
  z-index: 2;
  bottom: 20px;
  width: 13em;
  content: "続きをよむ";
  color: var(--white);
  background: var(--gray-3);
  border-radius: 20px;
}
.about-game .ag-box label::before {
  position: absolute;
  bottom: 38px;
  left: calc(50% - 3.5em);
  z-index: 3;
  width: 10px;
  height: 5px;
  background: var(--white);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.about-game .description {
  color: var(--gray-3);
  line-height: 1.6;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .bb_ul {
    margin-left: 16px;
  }
}
/* MODAL WINDOW
--------------------------------------------------- */
#modalImage {
  width: 100%;
  height: auto;
}

.modal-body {
  text-align: center;
  display: block;
}
.modal-body .move-btn {
  display: flex;
  gap: 5px;
  margin: 1rem 0;
  justify-content: space-between;
}
.modal-body .move-btn #prevButton,
.modal-body .move-btn #nextButton {
  font-size: 0.875rem;
  color: var(--white);
  background: var(--gray-3);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal-body .move-btn #prevButton:active,
.modal-body .move-btn #nextButton:active {
  background: var(--white);
  color: var(--gray-3);
}

/* ASIDE
--------------------------------------------------- */
aside {
  margin-bottom: 1rem;
}
aside .head-img {
  margin-bottom: 0.5rem;
}
aside .short-desc p {
  text-align: justify;
  font-size: 0.875rem;
}
/*# sourceMappingURL=style.css.map */