{% macro render_checkbox_form(form, viewpoint_choices, main_group) %}
<h3>{{ main_group }}</h3>
<div class="checkbox-group">
    {% for subgroup, choices in viewpoint_choices[main_group].items() %}
    <div class="details layer1 {{main_group}}">
        <div class="details-summary layer1 {{main_group}}">{{ subgroup }}</div>
        <div class="details-content layer1">
            <div class="checkbox-area">
                {% set field_name = "vp_" + main_group + "_" + subgroup %}
                {% if form[field_name] %}
                {% for subfield in form[field_name] %}
                <label>
                    {{ subfield }}
                    <span>{{ subfield.label.text }}</span>
                </label>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}